body {
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bg.jpeg) no-repeat center center/cover;
    padding-left: 10px;
}

.logo {
}

.descr {
    color:white;
    font-family: 'EB Garamond', serif;
    font-size:1.3em;
    line-height: 1.3;
}

h1 {
    font-family: 'Righteous', cursive;
    text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
    font-size:4.8em;
    text-align:center;
}

#reset {
    float: right;
    color: crimson;
}

.ttt {
    color:white;
    font-family: 'EB Garamond', serif;
    font-size:1.8em;
}

.akan {
    border-radius: 5px solid #fff;
    padding-right: 20px;
}

#submit {
    color: rgb(30, 190, 64);
    float: left;
}

.ggg {
    color:rgb(108, 148, 76);
    font-family: 'EB Garamond', serif;
    font-size:1.4em;
} 

label {
    font-size:1.5em;
    color:rgb(133, 145, 145);
}

footer {
    color:white;
    font-size:1em;
    text-align: center;
    padding-top: 15px;
    background-color: black;
}

form {
    width:60%;
    
}

a {
    color:white;
}

.btn btn-outline-info btn-sm {
    color: white;
}

#output {
    font-size:1.2em;
    border:2px solid rgb(35, 153, 137);
    color: rgb(0, 0, 0);
    font-weight: bolder;
}